<style>
    h1,
    h2,
    h3,
    h4,
    h4,
    h6,
    p,
    a,
    span,
    td,
    input,
    div,
    * {
        font-family: "HMFONT";
    }

    .google-visualization-orgchart-linebottom {
        border-bottom: 5px solid {{bus_color}} !important;
    }


    .google-visualization-orgchart-lineleft {
        border-left: 5px solid {{bus_color}} !important;
    }


    .google-visualization-orgchart-lineright {
        border-right: 5px solid {{bus_color}} !important;
    }

    .google-visualization-orgchart-nodesel,
    .google-visualization-orgchart-node {
        border: none !important;
        background: none !important;
        -webkit-box-shadow: none !important;
    }
</style>