
<table class="table">
    <thead>
        <th>Name</th>
        <th>ip</th>
        <th></th>
    </thead>
    <tbody>

        {% for com_server in com_servers %}

        <tr>
            <td>
                <a href="{{com_server.get_absolute_url}}">
                    {{com_server.name}}
                </a>
                
            </td>
            <td>
                <div class="ltr small text-left">
                    <span class="text-primary">{{com_server.ip1}}</span>:<span class="text-danger">{{com_server.port1}}</span>

                </div>
           
                <div class="ltr small text-left">
                    <span class="text-primary">{{com_server.ip2}}</span>:<span class="text-danger">{{com_server.port2}}</span>
                </div>
            </td>


            <td>
                {% if perms.communication.change_comserver %}
                {{com_server.get_edit_btn|safe}}
                {% endif %}
                {{com_server.get_absolute_btn|safe}}
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>