<script>
    let write_command_app = new Vue({
        el: "#write-command-app",
        data: {
            address: 2051,
        },
        methods: {
            start_: function (host,port,address,value) {
                return this.write_command(host,port,address,value)
            },
            stop_: function (host,port,address,value) {
                return this.write_command(host,port,address,value)
            },
            start: function () {
                return this.write_command(2051,1)
            },
            stop: function () {
                return this.write_command(2052,1)
            },
            write_command_: function (host,port,address,value) {
                let url = "{% url 'web2:write_command' %}"
                let payload = {
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                    host: host,
                    feeder_id: feeder_id,
                    port: port,
                    address: address,
                    value: value,
                }
                console.log(payload)
                let posting = $.post(url, payload)
                posting.done((data) => {
                    console.log(data)
                    if (data.result === 'SUCCEED') {
                    }
                })
            },
        
            write_command: function (address,value) {
                let url = "{% url 'web2:write_command' %}"
                let payload = {
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                    feeder_id: feeder_id,
                    value: value,
                    address: address,
                }
                console.log(payload)
                let posting = $.post(url, payload)
                posting.done((data) => {
                    console.log(data)
                    if (data.result === 'SUCCEED') {
                    }
                })
            }
        }
    })
</script>