<footer class="footer" style="display: block !important;">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    {{visitor_counter}}
                </li>
                <li>
                    <a href="https://www.creative-tim.com" class="docs-creator">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a href="https://creative-tim.com/presentation" class="docs-creator">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com" class="docs-creator">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license" class="docs-creator">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            ©
            <script>
                document.write(new Date().getFullYear())
            </script>2021, made with <i class="material-icons">favorite</i> by
            <a href="https://www.creative-tim.com" target="_blank" class="docs-creator">Creative Tim</a> for
            a better web.
        </div>
    </div>
</footer>