{% extends "web/layout.html" %}
{% load static %}


{% block head_communication %}


{% endblock %}





{% block content %}
<h5> Area {{area.name}} Region : {{area.region}}</h5>
<div class="row">
    <div class="col-lg-4 col-md-6 ">
        <div class="card" id="feeder-app">
            <div class="card-body ltr content-justify-center">
                <div v-for="current_transformer in current_transformers">

                    <canvas width="475" height="187" :id="'canvas-current-transformer-'+current_transformer.id"
                        style="width: 380px; height: 150px;"></canvas>
                </div>

                <div class="ltr" v-for="current_transformer in current_transformers">
                    <span class="material-icons text-success">
                        network_check
                    </span>
                    <span v-text="current_transformer.name"></span>
                    =
                    <span v-text="current_transformer.value"></span>
                    Amper
                </div>

                <div class="ltr" v-for="voltage_transformer in voltage_transformers">

                    <canvas width="475" height="187" :id="'canvas-voltage-transformer-'+voltage_transformer.id"
                        style="width: 380px; height: 150px;"></canvas>
                    <span class="material-icons text-danger">
                        network_check
                    </span>
                    <span v-text="voltage_transformer.name"></span>
                    =
                    <span v-text="voltage_transformer.value"></span>
                    Volt

                </div>


                <div class="ltr" v-for="frequency_transformer in frequency_transformers">
                    <canvas width="475" height="187" :id="'canvas-frequency-transformer-'+frequency_transformer.id"
                        style="width: 380px; height: 150px;"></canvas>
                    <span class="material-icons text-info">
                        network_check
                    </span>
                    <span v-text="frequency_transformer.name"></span>
                    =
                    <span v-text="frequency_transformer.value"></span>
                    Hz

                </div>


                <div class="togglebutton ltr" v-for="circuit_breaker in circuit_breakers">
                    <span v-text="circuit_breaker.name"></span>

                    <label>
                        <input @input="toggle_state(circuit_breaker)" type="checkbox"
                            :checked="circuit_breaker.checked">
                        <span :class="'toggle text-'+circuit_breaker.color"></span>
                        <span v-text="get_status(circuit_breaker)"></span>
                    </label>
                    <img :src="circuit_breaker.schematic" alt="" srcset="">
                </div>
            </div>

        </div>
    </div>
</div>
<div class="col-md-6">
    <canvas width="475" height="187" id="canvas-preview" style="width: 380px; height: 150px;"></canvas>

</div>
<div class="col-12">

    <div class="card card-stats">
        <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
                <i class="material-icons" aria-hidden="true">perm_identity</i>
            </div>
            <h4 class="card-title text-right">
                {{feeder.name}}
            </h4>
        </div>
        <div class="card-body">
            {% for inputoutput in feeder.inputoutput_set.all %}
            <div>
                {{inputoutput}}
                {% if add_input_command_form %}

                <form action="{% url 'web:add_input_command' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="input_id" value="{{inputoutput.id}}">
                    <button class="btn btn-success" type="submit">EXECUTE</button>
                </form>
                {% endif %}
            </div>
            {% endfor %}


            {% for circuitbreaker in circuit_breakers %}
            <div>
                {{circuitbreaker.name}}
                {% if add_input_command_form %}

                <form action="{% url 'web:add_input_command' %}" method="POST">
                    {% csrf_token %}

                    <label>
                        <input type="checkbox" name="command" checked="">
                        <span class="toggle"></span>
                        Command
                    </label>


                    <input type="hidden" name="input_id" value="{{inputoutput.id}}">
                    <button class="btn btn-success" type="submit">EXECUTE</button>
                </form>
                {% endif %}
            </div>
            {% endfor %}

        </div>
        <div class="card-footer">

        </div>
    </div>

    {% include "web/includes/feeder.html" %}

</div>
</div>

{% endblock %}








{% block script %}
<script>
    let voltage_transformers = JSON.parse(`{{voltage_transformers_s|escapejs}}`)
    let frequency_transformers = JSON.parse(`{{frequency_transformers_s|escapejs}}`)
    let circuit_breakers = JSON.parse(`{{circuit_breakers_s|escapejs}}`)
    let current_transformers = JSON.parse(`{{current_transformers_s|escapejs}}`)
    let url_toogle_cb = "{%url 'web:circuit_breaker_toggle'%}"
</script>
<script src="{% static 'vendor/js/gauge/gauge.min.js' %}"></script>
<script>
    var opts = {
        angle: 0.15, // The span of the gauge arc
        lineWidth: 0.44, // The line thickness
        radiusScale: 1, // Relative radius
        pointer: {
            length: 0.6, // // Relative to gauge radius
            strokeWidth: 0.035, // The thickness
            color: '#000000' // Fill color
        },
        limitMax: false,     // If false, max value increases automatically if value > maxValue
        limitMin: false,     // If true, the min value of the gauge will be fixed
        colorStart: '#6FADCF',   // Colors
        colorStop: '#8FC0DA',    // just experiment with them
        strokeColor: '#E0E0E0',  // to see which ones work best for you
        generateGradient: true,
        highDpiSupport: true,     // High resolution support
        percentColors: [[0.0, "#a9d70b"], [0.50, "#f9c802"], [1.0, "#ff0000"]],


    };
</script>
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
<script>
    
    let animationSpeed = 10
    let feeder_app = new Vue(
        {
            el: "#feeder-app",
            data: {
                circuit_breakers: circuit_breakers,
                current_transformers: current_transformers,
                voltage_transformers: voltage_transformers,
                frequency_transformers: frequency_transformers,
            },
            mounted: function () {
                this.set_values()
            },
            methods: {
                set_values: function () {
                    this.current_transformers.forEach(current_transformer => {
                        var target = document.getElementById('canvas-current-transformer-' + current_transformer.id); // your canvas element
                        var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
                        gauge.maxValue = 200; // set max gauge value
                        gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
                        gauge.animationSpeed = animationSpeed; // set animation speed (32 is default value)
                        gauge.set(current_transformer.value); // set actual value

                    });


                    this.voltage_transformers.forEach(voltage_transformer => {
                        var target = document.getElementById('canvas-voltage-transformer-' + voltage_transformer.id); // your canvas element
                        var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
                        gauge.maxValue = 200; // set max gauge value
                        gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
                        gauge.animationSpeed = animationSpeed; // set animation speed (32 is default value)
                        gauge.set(voltage_transformer.value); // set actual value

                    });


                    this.frequency_transformers.forEach(frequency_transformer => {
                        var target = document.getElementById('canvas-frequency-transformer-' + frequency_transformer.id); // your canvas element
                        var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
                        gauge.maxValue = 200; // set max gauge value
                        gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
                        gauge.animationSpeed = animationSpeed; // set animation speed (32 is default value)
                        gauge.set(frequency_transformer.value); // set actual value

                    });
                },
                get_status: (circuit_breaker) => {
                    return circuit_breaker.status
                },
                toggle_state: function (circuit_breaker) {
                    console.log(circuit_breaker)
                    let url = url_toogle_cb
                    let payload = {
                        cb_id: circuit_breaker.id,
                        csrfmiddlewaretoken: csrfmiddlewaretoken
                    }
                    var p = $.post(url, payload)
                    p.done((data) => {
                        console.log(data)
                        circuit_breaker = data.circuit_breaker
                        circuit_breaker.status = data.circuit_breaker.status
                        // feeder_app.circuit_breakers=
                        feeder_app.circuit_breakers.foreach((circuit_breaker) => {
                            if (circuit_breaker.id == data.circuit_breaker.id)
                                circuit_breaker = data.circuit_breaker
                        })
                    })
                },
            },
        }
    )
    function timer(seconds, cb) {
        window.setTimeout(function () {
            cb();
            timer(seconds, cb);

        }, seconds * 1000);
    }
    let i = 0
    var callback = function () {
        i++
        console.log(i);
        feeder_app.current_transformers[0].value += 2
        feeder_app.voltage_transformers[0].value += 2
        feeder_app.frequency_transformers[0].value += 2
        feeder_app.set_values()
    };

    timer(2, callback);



</script>
{% endblock %}