{% extends "web/layout.html" %}
{% load static %}


{% block head_communication %}


{% endblock %}






{% block content %}
<h3>
    {{bus.name}}


    {% if perms.web.change_bus %}
    <a href="{{bus.get_edit_url}}" target="_blank" class="mx-2" title="Edit {{feeder.name}}">
        <i class="fa fa-edit"></i>
    </a>
    {% endif %}
</h3>
<div class="row">
    <div class="col-md-3">
        <div class="card" id="bus-app">
            <div class="card-body ltr content-justify-center">

                {{bus.get_monitoring_btn|safe}}

                <div class="ltr" v-for="current_transformer in current_transformers">
                    <span class="material-icons text-success">
                        network_check
                    </span>
                    I={{bus.current}}
                    Amper
                </div>


                <canvas width="475" height="187" :id="'canvas-voltage-transformer-'+voltage_transformer.id"
                    style="width: 380px; height: 150px;"></canvas>
                <span class="material-icons text-danger">
                    network_check
                </span>
                V={{bus.voltage}}

                Volt







                <div class="togglebutton ltr" v-for="circuit_breaker in circuit_breakers">
                    <span v-text="circuit_breaker.name"></span>

                    <label>
                        <input @input="toggle_state(circuit_breaker)" type="checkbox"
                            :checked="circuit_breaker.checked">
                        <span :class="'toggle text-'+circuit_breaker.color"></span>
                        <span v-text="get_status(circuit_breaker)"></span>
                    </label>
                    <img :src="circuit_breaker.schematic" alt="" srcset="">
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-6">
        <canvas width="475" height="187" id="canvas-preview" style="width: 380px; height: 150px;"></canvas>

    </div>
    <div class="col-12">

        {% include "web/includes/feeder-app/feeder.html" %}

    </div>
</div>

{% endblock %}








{% block script %}
<script>

</script>
<script src="{% static 'vendor/js/gauge/gauge.min.js' %}"></script>
<script>
    var opts = {
        angle: 0.15, // The span of the gauge arc
        lineWidth: 0.44, // The line thickness
        radiusScale: 1, // Relative radius
        pointer: {
            length: 0.6, // // Relative to gauge radius
            strokeWidth: 0.035, // The thickness
            color: '#000000' // Fill color
        },
        limitMax: false,     // If false, max value increases automatically if value > maxValue
        limitMin: false,     // If true, the min value of the gauge will be fixed
        colorStart: '#6FADCF',   // Colors
        colorStop: '#8FC0DA',    // just experiment with them
        strokeColor: '#E0E0E0',  // to see which ones work best for you
        generateGradient: true,
        highDpiSupport: true,     // High resolution support
        percentColors: [[0.0, "#a9d70b"], [0.50, "#f9c802"], [1.0, "#ff0000"]],


    };
</script>
<script src="{% static 'vendor/js/vue.min.js' %}"></script>

{% endblock %}