{% extends "web/layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="title text-dark">
                    {{com_server.name}}
                </h4>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        {% include "web/includes/com-server-app/template.html" %}
        
    </div>
</div>
{% endblock content %}

{% block script %}
{% include "web/includes/com-server-app/script.html" %}
  
{% endblock script %}