{% extends "web/layout.html" %}
{% load static %}

{% block content %}
<h3 class="text-left"> {{feeder.name}}
{% if perms.web.change_feeder %}
  <a href="{{feeder.get_edit_url}}" target="_blank" class="mx-2" title="Edit {{feeder.name}}">
      <i class="fa fa-edit"></i>
  </a>
{% endif %}

</h3>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="text-left">
                    <a href="{{feeder.bus.area.get_absolute_url}}">
                        <span>

                            {{feeder.bus.area.name}}
                        </span>
                        <span class="text-secondary">

                            /
                        </span>
                        <span>
                            {{feeder.bus.area.region}}
                        </span>
                    </a>
                </div>
                <div class="text-left">
                    <a href="{{feeder.bus.get_absolute_url}}">
                        <span>
                            {{feeder.bus.name}}
                        </span>
                    </a>
                </div>


                <div class="text-left">
                    <a href="{{feeder.com_server.get_absolute_url}}">
                        <span>
                            {{feeder.com_server.name}}
                        </span>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        {% include "web/includes/feeder-app/template.html" %}
    </div>
    <div class="col-md-12">
        {% include "web/includes/current-transformer-app/template.html" %}
    </div>
</div>
{% endblock %}

{% block script %}

{% include "web/includes/feeder-app/script.html" %}
{% include "web/includes/current-transformer-app/script.html" %}
<script>
    $(document).ready(() => {
        current_transformer_app.draw_guage_charts()
    })
</script>


{% endblock %}