{% extends "web/layout.html" %}
{% load static %}


{% block head_communication %}


{% endblock %}






{% block content %}
<h3 class="text-center"> {{feeder.name}}</h3>
<div class="row" id="feeder-app">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">


                <div class="text-center">
                    <a href="{{feeder.bus.area.get_absolute_url}}">
                        <span>

                            {{feeder.bus.area.name}}
                        </span>
                        <span class="text-secondary">

                            /
                        </span>
                        <span>
                            {{feeder.bus.area.region}}
                        </span>
                    </a>
                </div>
                <div class="text-center">
                    <a href="{{feeder.bus.get_absolute_url}}">
                        <span>

                            {{feeder.bus.name}}
                        </span>

                    </a>
                </div>


                <div class="text-center">
                    <img :src="get_cb()" alt="" srcset="">
                    <div v-html="get_cb()"></div>
                </div>

                <div class="togglebutton ltr text-center">
                    <span v-text="feeder.circuit_breaker.name"></span>

                </div>


                <div>

                    <span v-for="status1 in statuses">
                        {% verbatim %}
                        {{status1}}
                        {% endverbatim %}


                    </span>

                </div>




            </div>




        </div>

    </div>
</div>
<div class="col-md-9">
    <div class="card">
        <div class="card-header card-header-icon card-header-info">
            <div class="card-icon">
                <i class="material-icons">timeline</i>
            </div>
            <h4 class="card-title">
                <span class="text-info mx-2">

                    I A
                </span>
                <span class="text-danger mx-2">
                    I B

                </span>
                <span class="text-warning mx-2">

                    I C
                </span>
            </h4>
        </div>
        <div class="card-body">
            <div id="colouredBarsChart" class="ct-chart">


            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-icon card-header-danger">
            <div class="card-icon">
                <i class="material-icons">timeline</i>
            </div>
            <h4 class="card-title">
                <span class="text-info mx-2">
                    {{feeder.current_transformer.name}}
                    <small class="text-secondary"> 1 /
                        {{feeder.current_transformer.ratio}}
                    </small>
                </span>
            </h4>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-4">
                    <div>

                        <canvas width="400" height="187"
                            :id="'canvas-current-transformer-'+feeder.current_transformer.id+'_a'"
                            style="width: 380px; height: 150px;"></canvas>
                    </div>
                    <p class="text-center text-info">

                        I
                        <strong> A </strong>

                        =
                        <strong>

                            <span v-text="feeder.current_transformer.value_a"></span>
                        </strong>
                        <small>

                            Ampere
                        </small>
                    </p>
                </div>

                <div class="col-md-4">
                    <div>

                        <canvas width="200" height="150"
                            :id="'canvas-current-transformer-'+feeder.current_transformer.id+'_b'"
                            style="width: 380px; height: 150px;"></canvas>
                    </div>
                    <p class="text-center text-danger">

                        I
                        <strong> B </strong>

                        =
                        <strong>

                            <span v-text="feeder.current_transformer.value_b"></span>
                        </strong>
                        <small>

                            Ampere
                        </small>
                    </p>

                </div>


                <div class="col-md-4">
                    <div>

                        <canvas width="300" height="187"
                            :id="'canvas-current-transformer-'+feeder.current_transformer.id+'_c'"
                            style="width: 380px; height: 150px;"></canvas>
                    </div>
                    <p class="text-center text-warning">

                        I
                        <strong> C </strong>

                        =
                        <strong>

                            <span v-text="feeder.current_transformer.value_c"></span>
                        </strong>
                        <small>

                            Ampere
                        </small>
                    </p>
                </div>


            </div>

        </div>
    </div>
</div>
<div class="col-12">
    <div class="card">

        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <p class="text-center">
                        P = <span v-text="feeder.current_transformer.value_p"></span>
                        <small>

                            Watt
                        </small>
                    </p>
                </div>


                <div class="col-md-3">
                    <p class="text-center">
                        Q = <span v-text="feeder.current_transformer.value_q"></span>
                        <small>

                            Var
                        </small>
                    </p>
                </div>

                <div class="col-md-3">
                    <p class="text-center">
                        S = <span v-text="feeder.current_transformer.value_s"></span>
                        <small>

                            VA
                        </small>
                    </p>
                </div>


                <div class="col-md-3">
                    <p class="text-center">
                        PF = <span v-text="feeder.current_transformer.value_pf"></span>
                        <small>


                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card">
        <div class="card-header card-header-icon card-header-info">
            <div class="card-icon">
                <i class="material-icons">timeline</i>
            </div>
            <h4 class="card-title">
                <span class="text-info mx-2">
                    {{feeder.voltage_transformer.name}}
                </span>
                <small class="text-secondary"> 1 /
                    {{feeder.voltage_transformer.ratio}}
                </small>
            </h4>

        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-4">
                    <div>

                        <canvas width="400" height="187"
                            :id="'canvas-voltage-transformer-'+feeder.voltage_transformer.id+'_a'"
                            style="width: 380px; height: 150px;"></canvas>
                    </div>
                    <p class="text-center">

                        I
                        <strong> A </strong>

                        =
                        <strong>

                            <span v-text="feeder.voltage_transformer.value_a"></span>
                        </strong>
                        <small>

                            Ampere
                        </small>
                    </p>
                </div>

                <div class="col-md-4">
                    <div>

                        <canvas width="200" height="150"
                            :id="'canvas-voltage-transformer-'+feeder.voltage_transformer.id+'_b'"
                            style="width: 380px; height: 150px;"></canvas>
                    </div>
                    <p class="text-center">

                        I
                        <strong> B </strong>

                        =
                        <strong>

                            <span v-text="feeder.voltage_transformer.value_b"></span>
                        </strong>
                        <small>

                            Ampere
                        </small>
                    </p>

                </div>


                <div class="col-md-4">
                    <div>

                        <canvas width="300" height="187"
                            :id="'canvas-voltage-transformer-'+feeder.voltage_transformer.id+'_c'"
                            style="width: 380px; height: 150px;"></canvas>
                    </div>
                    <p class="text-center">

                        I
                        <strong> C </strong>

                        =
                        <strong>

                            <span v-text="feeder.voltage_transformer.value_c"></span>
                        </strong>
                        <small>

                            Ampere
                        </small>
                    </p>
                </div>


            </div>

        </div>
    </div>
</div>


<div class="col-md-4">
    <div class="card">
        <div class="card-header">

        </div>

        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            Area / Region
                        </td>

                        <td>
                            <a href="{{feeder.bus.area.get_absolute_url}}">
                                <span>

                                    {{feeder.bus.area.name}}
                                </span>
                                <span class="text-secondary">

                                    /
                                </span>
                                <span>
                                    {{feeder.bus.area.region}}
                                </span>
                            </a>
                            {% if perms.communication.change_area %}
                            <a title="Edit {{feeder.bus.area.full_name}}" href="{{feeder.bus.area.get_edit_url}}">
                                <i class="material-icons text-warning">
                                    settings
                                </i>
                            </a>
                            {% endif %}

                        </td>

                    </tr>

                    <tr>
                        <td>
                            Bus
                        </td>

                        <td>
                            <a href="{{feeder.bus.get_absolute_url}}">
                                {{feeder.bus.name}}
                            </a>
                            {% if perms.communication.change_bus %}
                            <a href="{{feeder.bus.get_edit_url}}">
                                <i class="material-icons" class="text-warning">
                                    settings
                                </i>
                            </a>
                            {% endif %}
                            {{feeder.bus.get_monitoring_btn|safe}}
                        </td>

                    </tr>

                    <tr>
                        <td>
                            Com Server
                        </td>

                        <td>
                            <a href="{{feeder.com_server.get_absolute_url}}">
                                {{feeder.com_server.name}}
                            </a>
                            {% if perms.communication.change_comserver %}
                            <a href="{{feeder.com_server.get_edit_url}}">
                                <i class="material-icons" class="text-warning">
                                    settings
                                </i>
                            </a>
                            {% endif %}
                        </td>

                    </tr>


                    <tr>
                        <td>
                            Feeder
                        </td>

                        <td>
                            <a href="{{feeder.get_absolute_url}}">
                                {{feeder.name}}
                            </a>
                            {% if perms.communication.change_feeder %}
                            <a href="{{feeder.get_edit_url}}">
                                <i class="material-icons" class="text-warning">
                                    settings
                                </i>
                            </a>
                            {% endif %}
                        </td>

                    </tr>


                    <tr>
                        <td>
                            Address
                        </td>

                        <td>
                            Address
                            {{feeder.address}}

                            </a>
                        </td>

                    </tr>


                    <tr>
                        <td>
                            Com
                        </td>

                        <td>
                            Com {{feeder.com}}

                            </a>
                        </td>

                    </tr>



                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <th>
                        {{feeder.name}}'s Components
                    </th>
                    <th>

                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="{{feeder.circuit_breaker.get_absolute_url}}">

                                {{feeder.circuit_breaker.name}}
                            </a>
                        </td>

                        <td>
                            {% if perms.communication.change_circuitbreaker %}

                            {{feeder.circuit_breaker.get_edit_btn|safe}}
                            {% endif %}

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{{feeder.current_transformer.get_absolute_url}}">

                                {{feeder.current_transformer.name}}
                            </a>
                        </td>

                        <td>
                            {% if perms.communication.change_currenttransformer %}

                            {{feeder.current_transformer.get_edit_btn|safe}}
                            {% endif %}

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{{feeder.voltage_transformer.get_absolute_url}}">

                                {{feeder.voltage_transformer.name}}
                            </a>
                        </td>

                        <td>
                            {% if perms.communication.change_voltagetransformer %}

                            {{feeder.voltage_transformer.get_edit_btn|safe}}
                            {% endif %}

                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="col-12">


</div>
</div>

{% endblock %}








{% block script %}
<script>
    $(document).ready(() => {

        timer(callback)

    })
    let url_toogle_cb = "{%url 'web:circuit_breaker_toggle'%}"
    let url_read_cb = "{%url 'web:circuit_breaker_read'%}"
</script>
<script src="{% static 'vendor/js/gauge/gauge.min.js' %}"></script>
<script>
    let url_get_feeder_data = "{% url 'web:get_feeder_data' %}"
    var opts = {
        angle: 0.15, // The span of the gauge arc
        lineWidth: 0.44, // The line thickness
        radiusScale: 1, // Relative radius
        pointer: {
            length: 0.6, // // Relative to gauge radius
            strokeWidth: 0.035, // The thickness
            color: '#000000' // Fill color
        },
        limitMax: false,     // If false, max value increases automatically if value > maxValue
        limitMin: false,     // If true, the min value of the gauge will be fixed
        colorStart: '#6FADCF',   // Colors
        colorStop: '#8FC0DA',    // just experiment with them
        strokeColor: '#E0E0E0',  // to see which ones work best for you
        generateGradient: true,
        highDpiSupport: true,     // High resolution support
        percentColors: [[0.0, "#a9d70b"], [0.50, "#f9c802"], [1.0, "#ff0000"]],


    };
</script>
<script src="{% static 'dashboard-en/assets/js/plugins/chartist.min.js' %}"></script>
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
<script>
    let value_a_list = JSON.parse(`{{value_a_list|escapejs}}`)
    let value_b_list = JSON.parse(`{{value_b_list|escapejs}}`)
    let value_c_list = JSON.parse(`{{value_c_list|escapejs}}`)
    let animationSpeed = 10
    let feeder = JSON.parse(`{{feeder_s|escapejs}}`)
    let feeder_app = new Vue(
        {
            el: "#feeder-app",
            data: {
                refresh_delay: 1,
                statuses: [],
                feeder: feeder,
            },
            mounted: function () {
                this.draw_guage_charts()
                this.draw_timeline()
            },
            methods: {
                draw_timeline: function () {
                    if ($('#colouredBarsChart').length != 0) {

                        let optionsColouredBarsChart = {
                            lineSmooth: Chartist.Interpolation.cardinal({
                                tension: 10
                            }),
                            axisY: {
                                showGrid: true,
                                offset: 40
                            },
                            axisX: {
                                showGrid: false,
                            },
                            low: 0,
                            high: this.feeder.current_transformer.ratio + 50,
                            showPoint: true,
                            height: '300px'
                        };

                        let dataColouredBarsChart = {
                            labels: ['\'06', '\'07', '\'08', '\'09', '\'10', '\'11', '\'12', '\'13', '\'14', '\'15'],
                            series: [
                                feeder_app.value_a_list,
                                feeder_app.value_b_list,
                                feeder_app.value_c_list,
                            ]
                        };

                        var colouredBarsChart = new Chartist.Line('#colouredBarsChart', dataColouredBarsChart, optionsColouredBarsChart);

                        // md.startAnimationForLineChart(colouredBarsChart);


                    }
                },

                refresh: function () {
                    this.get_feeder_data()
                    this.draw_timeline()
                    this.draw_guage_charts()
                },

                draw_guage_charts: function () {
                    try {

                        console.log("aaaaa 11111 ")
                        let current_transformer = this.feeder.current_transformer

                        var target = document.getElementById('canvas-current-transformer-' + current_transformer.id + "_a"); // your canvas element
                        var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
                        gauge.maxValue = current_transformer.ratio * 1.3; // set max gauge value
                        gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
                        gauge.animationSpeed = animationSpeed; // set animation speed (32 is default value)
                        gauge.set(current_transformer.value_a); // set actual value

                        console.log("aaaaa 22222 ")



                        var target = document.getElementById('canvas-current-transformer-' + current_transformer.id + "_b"); // your canvas element
                        var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
                        gauge.maxValue = current_transformer.ratio * 1.3; // set max gauge value
                        gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
                        gauge.animationSpeed = animationSpeed; // set animation speed (32 is default value)
                        gauge.set(current_transformer.value_b); // set actual value

                        console.log("aaaaa 33333 ")



                        var target = document.getElementById('canvas-current-transformer-' + current_transformer.id + "_c"); // your canvas element
                        var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
                        gauge.maxValue = current_transformer.ratio * 1.3; // set max gauge value
                        gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
                        gauge.animationSpeed = animationSpeed; // set animation speed (32 is default value)
                        gauge.set(current_transformer.value_c); // set actual value


                        console.log("aaaaa 44444 ")

                        // let voltage_transformer = this.feeder.voltage_transformer
                        // var target = document.getElementById('canvas-voltage-transformer-' + voltage_transformer.id + "_a"); // your canvas element
                        // var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
                        // gauge.maxValue = voltage_transformer.ratio * 2; // set max gauge value
                        // gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
                        // gauge.animationSpeed = animationSpeed; // set animation speed (32 is default value)
                        // gauge.set(voltage_transformer.value_a); // set actual value


                        // console.log("aaaaa 555555 ")


                        // var target = document.getElementById('canvas-voltage-transformer-' + voltage_transformer.id + "_b"); // your canvas element
                        // var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
                        // gauge.maxValue = voltage_transformer.ratio * 2; // set max gauge value
                        // gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
                        // gauge.animationSpeed = animationSpeed; // set animation speed (32 is default value)
                        // gauge.set(voltage_transformer.value_b); // set actual value


                        // console.log("aaaaa 666666 ")


                        // var target = document.getElementById('canvas-voltage-transformer-' + voltage_transformer.id + "_c"); // your canvas element
                        // var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
                        // gauge.maxValue = voltage_transformer.ratio * 2; // set max gauge value
                        // gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
                        // gauge.animationSpeed = animationSpeed; // set animation speed (32 is default value)
                        // gauge.set(voltage_transformer.value_c); // set actual value

                        // console.log("aaaaa 777777 ")


                    } catch (error) {

                    }

                },
                get_status: (circuit_breaker) => {
                    let url = url_read_cb
                    let payload = {
                        cb_id: feeder.circuit_breaker.id,
                        csrfmiddlewaretoken: csrfmiddlewaretoken
                    }
                    var p = $.post(url, payload)
                    p.done((data) => {
                        console.log(data.value)
                        // feeder_app.statuses.push(data.value)
                        feeder_app.feeder.feeder.circuit_breaker = data.circuit_breaker


                    })
                },
                get_feeder_data: function () {
                    let url = url_get_feeder_data
                    let payload = {
                        feeder_id: this.feeder.id,
                        csrfmiddlewaretoken: csrfmiddlewaretoken
                    }
                    var p = $.post(url, payload)
                    p.fail((response) => {
                    })
                    p.done((data) => {
                        // console.log(data.feeder.circuit_breaker.status)
                        feeder_app.feeder = data.feeder
                        // feeder_app.circuit_breaker.status = data.feeder.circuit_breaker.status
                        // feeder_app.circuit_breaker.panel = data.feeder.circuit_breaker.panel
                        feeder_app.value_a_list = data.value_a_list
                        feeder_app.value_b_list = data.value_b_list
                        feeder_app.value_c_list = data.value_c_list
                        if (data.feeder.circuit_breaker.status === "CLOSE") feeder_app.statuses.push("-")
                        if (data.feeder.circuit_breaker.status === "OPEN") feeder_app.statuses.push("_")
                        // feeder_app.statuses.push(data.feeder.circuit_breaker.status)
                        // console.log(feeder_app.statuses)
                        // console.log(data.feeder.circuit_breaker)
                        if(feeder_app.statuses.length>45){
                            feeder_app.statuses=feeder_app.statuses.reverse().slice(0,30).reverse()
                        }
                        feeder_app.feeder.circuit_breaker.schematic = data.feeder.circuit_breaker.schematic
                        feeder_app.feeder.current_transformer.value_a = data.value_a_list[9]
                        feeder_app.feeder.current_transformer.value_b = data.value_b_list[9]
                        feeder_app.feeder.current_transformer.value_c = data.value_c_list[9]
                    })
                },
                get_cb: function () {
                    return this.feeder.circuit_breaker.panel
                },
                toggle_state: function (circuit_breaker) {
                    // console.log(circuit_breaker)
                    let url = url_toogle_cb
                    let payload = {
                        cb_id: feeder_app.feeder.circuit_breaker.id,
                        csrfmiddlewaretoken: csrfmiddlewaretoken
                    }
                    var p = $.post(url, payload)
                    p.done((data) => {
                        console.log(data)
                    })
                },
            },
        }
    )
    function timer(cb) {
        window.setTimeout(function () {
            cb();
            timer(cb);

        }, feeder_app.refresh_delay * 1000);
    }
    let i = 0
    var callback = function () {

        // feeder_app.refresh()
        feeder_app.refresh()
    };


</script>
{% endblock %}