{% extends "web/layout.html" %}
{% load static %}

{% block content %}
<h3 class="text-left"> {{feeder.name}}</h3>
<div class="row" id="feeder-app">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <a href="{{feeder.bus.area.get_absolute_url}}">
                        <span>

                            {{feeder.bus.area.name}}
                        </span>
                        <span class="text-secondary">

                            /
                        </span>
                        <span>
                            {{feeder.bus.area.region}}
                        </span>
                    </a>
                </div>
                <div class="text-center">
                    <a href="{{feeder.bus.get_absolute_url}}">
                        <span>
                            {{feeder.bus.name}}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        {{feeder.panel|safe}}
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(() => {
    })
</script>
{% endblock %}