<!DOCTYPE html>
{% load static %}
<html lang="en" class="perfect-scrollbar-on">
    <head>

        {% include "dashboard-en/includes/head.html" %}
        {% block head %}
          
        {% endblock %}

    </head>
<body class="">
   
    <!-- Extra details for Live View on GitHub Pages -->
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="wrapper ">
        <div class="sidebar ps" data-color="rose" data-background-color="black"
            data-image="">
           {% include "dashboard-en/includes/sidebar.html" %}
        </div>
        <div class="main-panel ps ps--active-y">
           {% include "dashboard-en/includes/navbar.html" %}

       
            <div class="content">
                <div class="content">
                    <div class="container-fluid">
                       {% block content %}
                         
                       {% endblock content %}
                    </div>
                </div> 
             {% include "dashboard-en/includes/footer.html" %}
            </div>
          
          
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps__rail-y" style="top: 0px; right: 0px; height: 723px;">
                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 293px;"></div>
            </div>
        </div>
    </div>
   

    {% csrf_token %}
    {% include "dashboard-en/includes/scripts.html" %}
  <script>
    var csrfmiddlewaretoken = ''
    $(document).ready(function () {
      csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val()
      $("#ofBar").addClass("d-none")

    });
  </script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

  {% block script %}

  {% endblock %}
   
</body>

</html>