<table class="table">
    <thead>
        <th class="text-left">Name</th>
        <th class="text-left">Bus</th>
        <th class="text-left">ComServer</th>
        <th class="text-left">port com </th>
        <th class="text-left"></th>
    </thead>
    <tbody>

        {% for feeder in feeders %}

        <tr>
            <td class="text-left">
                <a href="{{feeder.get_absolute_url}}">

                    {{feeder.name}}
                </a>
            </td>
            <td class="text-left">
                    <a href="{{feeder.bus.get_absolute_url}}">
                        {{feeder.bus.name}}

                    </a>
                   ( Area <a href="{{feeder.bus.area.get_absolute_url}}">
                        {{feeder.bus.area.name}}
    
                    </a>
                   )

            </td>

           
            <td class="text-left">
                <a href="{{feeder.com_server.get_absolute_url}}">
                    {{feeder.com_server.name}}

                </a>


            </td>


           


            <td class="text-left">
                {{feeder.com}}
                


            </td>


            <td>
                {% if perms.communication.change_feeder %}
                {{feeder.get_edit_btn|safe}}
                {% endif %}
                {{feeder.get_absolute_btn|safe}}
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>