<table class="table">
    <thead>
        <th class="text-left">Name</th>
        <th class="text-left">Area</th>
        <th class="text-left"></th>
    </thead>
    <tbody>

        {% for bus in buses %}

        <tr>
            <td class="text-left">
                <a href="{{bus.get_absolute_url}}">

                    {{bus.name}}
                </a>
            </td>

            <td class="text-left">
                <a href="{{bus.area.get_absolute_url}}">

                    {{bus.area.name}}
                    :
                    {{bus.area.region}}
                </a>
            </td>


            <td class="text-left">
                {% if perms.communication.change_bus %}
                {{bus.get_edit_btn|safe}}
                {% endif %}

                <a title="Monitor {{bus.name}} " class="btn btn-link btn-success" href="{{bus.get_bus_bar_url}}">
                    <i class="material-icons">
                        settings
                    </i>
                </a>



            </td>

        </tr>
        {% endfor %}

    </tbody>
</table>