<div class="card" id="feeder-app">
    <div class="card-body">
         
        <div>
                
            <button @click="run=true" v-if="!run" class="btn btn-success">Scan</button>
            <button @click="run=false" v-if="run" class="btn btn-danger">Freeze</button>
                        </div>

        <div class="text-left">
            I a : <span v-text="i_a()"></span> <small>(Amepere)</small>
         </div>

         <div class="text-left">
            I b : <span v-text="i_b()"></span> <small>(Amepere)</small>
         </div>

         <div class="text-left">
            I c : <span v-text="i_c()"></span> <small>(Amepere)</small>
         </div>

        <div class="text-left">

            <img :src="feeder.circuit_breaker_schematic" width="96" :alt="feeder.circuit_breaker_status">
        </div>
    </div>
</div>
 